# Python virtual environment
venv/
.venv/

# Python caches / build artifacts
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# macOS
.DS_Store

# Editors
.vscode/
.idea/
